<?xml version="1.0" encoding="utf-8"?>
<robot name="xamla_motion_examples" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:xamla="http://www.xamla.com/">
  <xacro:property name="pi" value="3.1415926535897931" />
  <link name="world" />
  <xacro:include filename="part_motoman_sda10f/sda10f_macro.xacro" xamla:xref="yaskawa$motoman_sda10f_1" />
  <xacro:motoman_sda10f xamla:xref="yaskawa$motoman_sda10f_1" prefix="" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:motoman_sda10f>
  <xacro:include filename="part_wsg50/weiss-wsg50.xacro" xamla:xref="weiss_robotics$wsg_50_1" />
  <xacro:part_wsg50 xamla:xref="weiss_robotics$wsg_50_1" prefix="" parent="arm_right_link_tool0">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:part_wsg50>
</robot>